<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PatientDBEventStoreEntities" 
         connectionString="metadata=res://*/PatientRecordModel.csdl|res://*/PatientRecordModel.ssdl|res://*/PatientRecordModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=yahara-jcarley;Initial Catalog=PatientDBEventStore;Integrated Security=True;MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>