<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="RavenDB" connectionString="url = http://localhost:8080" />
    
    <add name="PatientDBEventStore" 
         connectionString="Data Source=yahara-jcarley;Initial Catalog=PatientDBEventStore;Integrated Security=True" 
         providerName="System.Data.SqlClient" />

    <add name="PatientDBEventStoreEntities"
         connectionString="metadata=res://*/PatientRecordModel.csdl|res://*/PatientRecordModel.ssdl|res://*/PatientRecordModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=yahara-jcarley;Initial Catalog=PatientDBEventStore;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncCtpLibrary" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4107.18181" newVersion="1.0.4107.18181" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>